:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

  color: rgba(0, 0, 0, 1);
  background-color: #f9f2e6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.page-body {
  padding: 2rem;
}

/* TABLES vvv */
td, th {
  border: 1px solid black;
}

th {
  text-align: center;
}

.home-table {
  border-collapse: collapse;
}

.home-table td {
  text-align: left;
}

.home-table th {
  text-align: left;
}

.sheet-table { 
  border-collapse: collapse;
  width: 100%;
}

.attribute-td-content {
  display: flex;
  flex-wrap: wrap;
}
/* ^^^ TABLES */

/* NAVEGATION BAR vvv */
nav {
  background-color: #333;
  padding: 1rem;
}

nav a {
  color: #f2f2f2;
  font-weight: 500;
  padding: 14px 16px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}
/* ^^^ NAVEGATION BAR */

/*
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
*/