:root {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(30,30,30);
  background-color: #f9f2e6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

p {
  margin: 10px 0px 10px 0px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.8em;
  text-align: center;
  padding: 0 10px 0 10px;
  margin: 0;
}

h2 {
  margin: 0;
}

h4 {
  margin-bottom: 3px;
}

fieldset {
  all: unset;
}

.line-div {
  border-bottom: 2px solid black;
  width: 90%;
  margin: 0px 0px 20px 0px;
}

.gray-line-div {
  border-bottom: 1px solid gray;
  width: 90%;
  margin: 20px 0px 20px 0px;
}

.main-background {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  width: 80%;
  max-width: 700px;
  padding: 2rem;
  background-color: rgb(242,242,242);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section {
  width: 80%;
}

@media (max-width: 700px) {
  .main {
    width: 100%;
  }

  .main h1, .line-div, .welcome-div, .create-new-sheet-div {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.main-section h2 {
  margin-top: 10px;
}

.create-new-sheet-div {
  padding: 25px 25px 15px 25px;
  border-radius: 20px;
  border: 1px solid gray;
  max-width: 430px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.create-new-sheet-div p {
  font-size: 1rem;
}

.warning-div {
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  border: 2px solid rgb(238,75,43);
  max-width: 300px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.warning-div h3 {
  font-size: unset;
  text-decoration: underline;
  text-align: center;
  margin: 5px 0 0 0;
}

.warning-div p {
  font-size: 1rem;
  text-align: justify;
}
/* aqui pra cima*/
/* Navegation bar vvv */
nav {
  width: 100%;
  background-color: black;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3); /* Is this working? */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

nav a {
  font-weight: 500;
  color: rgb(242,242,242);
  padding: 14px 16px;
  display: flex;
  align-items: center;
}

nav a:hover {
  color: black;
  background-color: rgb(221,221,221);
}
/* aqui*/
.disabled-link {
  color: rgb(102,102,102);
  opacity: 0.7;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 14px 16px;
}

nav form {
  align-self: flex-end;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  padding-top: 7px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
}

#form-text {
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 3px;
}

#form-inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

#form-input-and-button {
  display: flex;
  gap: 10px;
}
/* ^^^ Navegation bar */

/* Footer vvv */

#footer {
  height:350px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer p {
  color: rgba(242,242,242,0.7);
  font-size: 16px;
  margin: 15px 0 5px 0;
}

.contact-links-div {
  display: flex;
  column-gap: 14px;
}

.contact-links-div a {
  color: rgba(242,242,242,0.7);
  font-size: 14px;
}

.contact-links-div a:hover {
  color: rgba(9,105,218,1);
  text-decoration: underline;
}

/* Footer ^^^ */


button {
  border-radius: 8px;
  border: 1px solid gray;
  padding: 0.6em 1.2em;
  font-size: 16px;
  font-weight: 500;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
/*
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
*/