:root {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(30,30,30);
  background-color: #f9f2e6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

p {
  margin: 10px 0px 10px 0px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.8em;
  text-align: center;
  margin: 0;
}

h3 {
  margin-bottom: 0px;
}

fieldset {
  all: unset;
}

/* ID's vvv */

/* ^^^ ID's */

.line-div {
  border-bottom: 2px solid black;
  width: 100%;
  margin: 0px 0px 20px 0px;
}

.main {
  padding: 2rem;
  font-size: 125%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-div {
  background-color: #333;
  padding: 15px 25px;
  border-radius: 20px;
  max-width: 430px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.welcome-div h2 {
  margin-top: 10px;
}

.welcome-div p, h2 {
  color: #f2f2f2;
}

/* TABLES vvv */
td, th {
  border: 1px solid black;
}

th {
  text-align: center;
}

.home-table {
  border-collapse: collapse;
}

.home-table td {
  text-align: left;
}

.home-table th {
  text-align: left;
}

.sheet-table { 
  border-collapse: collapse;
  width: 100%;
}

.attribute-td-content {
  display: flex;
  flex-wrap: wrap;
}
/* ^^^ TABLES */

/* Navegation bar vvv */
nav {
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

nav a {
  color: #f2f2f2;
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 14px 16px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.disabled-link {
  color: rgb(102,102,102);
  opacity: 0.7;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 14px 16px;
}

nav form {
  align-self: flex-end;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  padding-top: 7px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
}

#form-text {
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 3px;
}

#form-inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

#form-input-and-button {
  display: flex;
  gap: 10px;
}
/* ^^^ Navegation bar */

/* Footer vvv */

#footer {
  height:350px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer p {
  color: rgba(242,242,242,0.7);
  font-size: 16px;
  margin: 15px 0 5px 0;
}

.contact-links-div {
  display: flex;
  column-gap: 14px;
}

.contact-links-div a {
  color: rgba(242,242,242,0.7);
  font-size: 14px;
}

.contact-links-div a:hover {
  color: rgba(9,105,218,1);
  text-decoration: underline;
}

/* Footer vvv */

/*

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
*/